.btn {
    color: #ffffff;
    background-color: #009688;
    border-style: none;

}

.card {
    background-color: #fff;
    border-style: none;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.open>.dropdown-toggle.btn {
    color: #fff;
    background-color: #00796B;
    border-style: none;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: rgba(0, 150, 136, 1);
    box-shadow: none;
    outline: 0 none;
}

.anchor {
    color: #009688;
    font-size: 13px;
}

.anchor:hover {
    color: #00796B;
    text-decoration: none;
    text-underline: none;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    color: #009688;
    font-size: 14px;
}

p {
    font-size: 13px;
}